


@media screen and (max-width: 797px) {
    
    /* 
        -- Main --
    */

    .services_container > div {
        width: 100%;
    }

    #projects_container > .projects {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    
    /* 
        -- Nav --
    */
        
    nav .container p {
        display: none;
    }

    #label {
        display: none;
    }

    /* 
        -- Header --
    */
    header .container {
        justify-content: center;
        align-items: flex-start;
    
    }
    header .container h3 {
        font-size: 18pt !important;
    }
    header .container h2 {
        font-size: 22pt !important;
    }
    header .container h1 {
        font-size: 24pt !important;
    }
    header .container p {
        font-size: 12pt !important;
    }
    header .container h3,
    header .container h2,
    header .container h1,
    header .container p {
        text-align: left !important;
        width: 100%;
        padding: 0px 40px;
        margin: 10px 0px;
    }
        
    #call_button {
        margin-left: 40px;
        margin-top: 30px;
    }

    /* 
        -- Main --
    */

    /* Projects */

    #featured_project #fp_title {
        height: 250px;
    }
    #fp_title > div > div > div {
        margin-top: 50px;
    }
    
    
    #featured_project > #fp_base_3 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #fp_base_3 > div {
        height: 340px;
        width: 100%;
    }
    
    #featured_project #fp_base_4 {
        height: 220px;
    }
    #fp_base_4 > div > article {
        margin-bottom: 60px;
    }
    #fp_base_4 > div > div > div {
        margin-top: 70px;
    }
    

    /* Related Content */
    
    .content_container .slide_box {
        height: 280px;
    }
    
    .slide h1 {
        font-size: 20pt;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* Contact */

    .contact_container article {
        grid-template-columns: 2fr;
    }
    .contact_container article > input:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .contact_container article > input:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .contact_container article > input:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .contact_container article > textarea {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .contact_container article > button {
        grid-column: 1/2;
        grid-row: 5/6;
    }


    /* BG Design */
    
    #bg_design #bgd_header div:first-child {
        top: 200px;
        left: -150px;
    }


}


/* Footer */