/* General */

/* Nav */

/* Header */

/* Main */

@media screen and (max-width: 820px) {
    body {
        /* background: red !important; */
    }
}

@media screen and (max-width: 700px) {

    /* Projects */

    #featured_project #fp_title {
        height: 250px;
    }
    #fp_title > div > div > div {
        margin-top: 50px;
    }
    
    
    #featured_project > #fp_base_3 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #fp_base_3 > div {
        height: 340px;
        width: 100%;
    }
    
    #featured_project #fp_base_4 {
        height: 200px;
    }
    #fp_base_4 > div > article {
        margin-bottom: 60px;
    }
    #fp_base_4 > div > div > div {
        margin-top: 50px;
    }

    /* Related Content */
    
    .content_container .slide_box {
        height: 250px;
    }

    /* Contact */

    .contact_container article {
        grid-template-columns: 2fr;
    }
    .contact_container article > input:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .contact_container article > input:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .contact_container article > input:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .contact_container article > textarea {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .contact_container article > button {
        grid-column: 1/2;
        grid-row: 5/6;
    }



}


/* Footer */