

/* PORTFOLIO SECTION */

.portfolio_container {
    height: max-content;
    width: 100%;
    position: relative;
}

.portfolio_container #featured_project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}

#featured_project h2 {
    font-size: 12pt;
    color: rgb(215, 215, 215);
    font-weight: normal;
}

#featured_project p {
    font-size: 10pt;
    color: rgb(200, 200, 200);
}


.portfolio_container #featured_project > div {
    background: rgba(0, 0, 0, 0.4);
}

/* Featured Project Base 1 fp_base_1 / fp_title */

#featured_project #fp_title {
    height: 200px;
    width: 100%;
    border-radius: 15px 15px 5px 5px;
}

#fp_title > div > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

#fp_title h1 {
    font-size: 14pt;
    margin-top: 0px;
    font-weight: normal;
}

#fp_title article {
    grid-column: 1/2;
    grid-row: 2/3;
}

#fp_title > div > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}


#fp_title > div > div > div > div:first-child {
    height: 125px;
    width: 40px;
    background: rgb(160, 160, 160);
    border-radius: 5px;
    border-radius: 2.5px 2.5px 0px 0px;
}


#fp_title > div > div > div > div:last-child {
    height: 125px;
    width: 100px;
    background: rgb(160, 160, 160);
    border-radius: 2.5px 2.5px 0px 0px;
}

/* Featured Project Base 2 fp_base_2 */

#fp_base_2 {
    height: 150px;
    width: 100%;
    border-radius: 5px;
}
#fp_base_2 > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
#fp_base_2 > div > h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}


#fp_base_2 > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px
}
#fp_base_2 > div > div > div {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    opacity: 0.7;
}
#fp_base_2 > div > div > div:nth-child(1) {
    background: linear-gradient(to top right, rgb(196, 176, 0), rgb(255, 0, 50));
}
#fp_base_2 > div > div > div:nth-child(2) {
    background: linear-gradient(to top right, rgb(225, 0, 255), rgb(150, 0, 255));
}
#fp_base_2 > div > div > div:nth-child(3) {
    background: linear-gradient(to top right, rgb(0, 225, 255), rgb(0, 150, 209));
}
#fp_base_2 > div > div > div:nth-child(4) {
    background: linear-gradient(to top right, rgb(0, 255, 115), rgb(0, 131, 44));
}




/* base 3 */

#featured_project > #fp_base_3 {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    background: none;
}



#fp_base_3 > div {
    height: 340px;
    width: 340px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
}

/* flex illustratoin */

#flex_illustration {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 140px;
    width: 180px;
    margin-top: 30px;
    gap: 5px;
}

#flex_illustration > div:first-child {
    grid-column: 1/2;
    grid-row: 1/4;
    background: rgb(160, 160, 160);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

#flex_illustration > div:nth-child(2) {
    grid-column: 2/5;
    grid-row: 1/2;
    background: black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#flex_illustration > div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/5;
    background: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

#flex_illustration > div:last-child {
    grid-column: 3/6;
    grid-row: 2/3;
    background: rgb(160, 160, 160);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
}
#flex_illustration > div:first-child > div,
#flex_illustration > div:last-child > div {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    border-radius: 7px;
}
#flex_illustration > div:nth-child(2) > div,
#flex_illustration > div:nth-child(3) > div {
    height: 15px;
    width: 15px;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 7px;
}


/* Grid Illustration */


#grid_illustration {
    height: 150px;
    width: 150px;
    margin-top: 30px;
    position: relative;
    --grid-borders: rgb(200, 200, 200);
}

#grid_illustration > div:first-child {
    height: 130px;
    width: 150px;
    position: absolute;
    z-index: 2;
}

#grid_illustration > div:first-child > div:nth-child(1),
#grid_illustration > div:first-child > div:nth-child(3) {
    height: 31px;
    width: 150px;
}

#grid_illustration > div:first-child > div:nth-child(1) {
    border-top: 1px dashed var(--grid-borders);
}
#grid_illustration > div:first-child > div:nth-child(3) {
    border-bottom: 1px dashed var(--grid-borders);
}
#grid_illustration > div:first-child > div:nth-child(2) {
    height: 64px;
    width: 150px;
    border-top: 1px dashed var(--grid-borders);
    border-bottom: 1px dashed var(--grid-borders);
}

#grid_illustration > div:nth-child(2) {
    height: 150px;
    width: 130px;
    position: absolute;
    z-index: 3;
    display: flex;
}

#grid_illustration > div:nth-child(2) > div:nth-child(1),
#grid_illustration > div:nth-child(2) > div:nth-child(2),
#grid_illustration > div:nth-child(2) > div:nth-child(3),
#grid_illustration > div:nth-child(2) > div:nth-child(4) {
    height: 150px;
    width: 32px;
}

#grid_illustration > div:nth-child(2) > div:nth-child(1) {
    border-left: 1px dashed var(--grid-borders);
}
#grid_illustration > div:nth-child(2) > div:nth-child(2) {
    border-left: 1px dashed var(--grid-borders);
    border-right: 1px dashed var(--grid-borders);
}
#grid_illustration > div:nth-child(2) > div:nth-child(3) {
    border-right: 1px dashed var(--grid-borders);
}
#grid_illustration > div:nth-child(2) > div:nth-child(4) {
    border-right: 1px dashed var(--grid-borders);
}

#grid_illustration > div:nth-child(3) {
    position: absolute;
    height: 130px;
    width: 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    z-index: 4;
}
#grid_illustration > div:nth-child(3) > div:first-child {
    background: rgba(149, 0, 255, 0.3);
    grid-column: 1/3;
    grid-row: 1/4;
}
#grid_illustration > div:nth-child(3) > div:last-child {
    background: rgba(255, 0, 50, 0.3);
    grid-column: 3/5;
    grid-row: 2/5;
}
#grid_illustration > div:last-child {
    height: 130px;
    width: 130px;
    background: rgb(160, 160, 160);
    position: absolute;
    z-index: 1;
}

/* base 4 */
#featured_project #fp_base_4 {
    height: 150px;
    width: 100%;
    border-radius: 5px;
}

#fp_base_4 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

#fp_base_4 > div > article {
    margin-bottom: 30px;
}

#fp_base_4 > div > div > div {
    background: rgb(160, 160, 160);
    height: 120px;
    width: 180px;
    border-radius: 2.5px 2.5px 0px 0px;
}


.portfolio_container section:first-child > div:last-child {
    height: 50px;
    width: 100%;
    border-radius: 5px 5px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio_container section:first-child > div:last-child > div:nth-child(2) {
    font-size: 10pt;
    color: rgb(215, 215, 215);
}

.portfolio_container section:first-child > div:last-child > div:first-child {
    margin-left: 15px;
}
.portfolio_container section:first-child > div:last-child > div:last-child {
    margin-right: 15px;
}



/* 
    -------------
    More Projects
    -------------
*/

#more_projects {
    height: max-content;
    width: 100%;
}
#more_projects_title {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
}
#more_projects_title > h3 {
    font-size: 11pt;
    font-weight: normal;
}
#more_projects_title > div {
    height: 1px;
    width: 100%;
}

#projects_container {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

#projects_container > .projects {
    height: 200px;
    width: 325px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.projects > div > h4 {
    font-weight: normal;
    margin-top: 0px;
    color: var(--light-2);
}

.projects > div > p {
    font-size: 10pt;
    height: 60px;
    color: var(--light-3);
}
.projects > div > div  {
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.projects > div > div > p:first-child {
    font-size: 8pt;
    margin-top: 0px;
    height:max-content;
    color: var(--light-4);
}
.projects > div > div > p:last-child {
    margin-top: 0px;
    height:max-content;
}


#more_projects > div:last-child {
    height: 120px;
    width: 100%;
}