

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('../fonts/quicksand/Quicksand-Regular.ttf');
@import url('../fonts/Fasthand-Regular.ttf');

/* Other CSS */
@import url('./variables.css');
@import url('./general.css');
@import url('./components.css');
@import url('./nav.css');
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');

@import url('./portfolio.css');

@import url('./colors.css');
@import url('./change_accent.css');

/* Media Quries */
@import url('./media_quries.css');

body {
    background: var(--dark);
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    letter-spacing: 1.25px;
}
.cover {
    position: relative;
    height: max-content;
    width: 100%;
}
/* Container */
.container {
    height: max-content;
    width: 100%;
    position: relative;
    z-index: 1;
}
