
body {

    --light: rgb(248, 249, 250);
    --light-1: rgb(233, 236, 239);
    --light-2: rgb(222, 226, 230);
    --light-3: rgb(206, 212, 218);
    --light-4: rgb(173, 181, 189);

    --dark: rgb(33, 37, 41);
    --dark-1: rgb(52, 58, 64);
    --dark-2: rgb(73, 80, 87);
    --dark-3: rgb(108, 117, 125);

    --blue: rgb(0, 200, 255);
    --green: rgb(0, 255, 100);
    --red: rgb(255, 0, 50);
    --yellow: rgb(255, 200, 0);
    --purple: rgb(150, 0, 255);

    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);


    
    --accent: var(--blue);
}
